# Build artifacts
/target/
/**/bin/
/**/obj/
/**/libxsde
*.o
*.class

# Test data and outputs
/test/*.xml
/test/*.outlog
/test/tmp/
/test/out/

# Saxon and XSLT dependencies
/alien/xslt/saxon/
/alien/xslt/*.zip

# IDE and solution files
xml-i.sln
.vscode/
